
.background-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://wallpapers.com/images/hd/meme-faces-black-and-white-25itfr6sfshhawly.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.form-container {
  width: 40vw;
  max-width: 400px; 
  background-color: rgba(207, 207, 207, 0.9);
  padding: 20px;
  border-color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.form-container .form-group {
  margin-bottom: 15px;
}

.form-container .form-label {
  font-weight: bold;
  font-size: large;
  margin-bottom: 5px;
}

.form-container .form-control {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 22px;
  transition: border-color 0.3s ease;
}

.form-container .form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
.signup-link{
  color: blue;
  font-size: large;
  font-weight: bold;
}


.signup-link:hover {
  text-decoration: underline;
}
