body {
  background: linear-gradient(300deg, #e6d753, #ffa703, #000000);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.heading {
  color: white;
  text-align: center;
  padding-top: 100px;
}
.heading h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: cursive;
}

.profilePic {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.profilePic img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 240px;
  height: 240px;
  background-color: white;
}
.username {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}
